.axis {
  font: 12px sans-serif;
  @include respond-to(screen-xs) {
    font-size: 10px;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}
.line-dot {
  fill: orange;
}
.line-dot-selected {
  opacity: 0.8;
}

.bar-rect {
  fill: steelblue;
}

.bar-rect-selected {
  opacity: 0.8;
}

.tick line {
  opacity: 0.1;
}